html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}

/*header头部的各元素的对齐方式*/
header {
  width: 10rem;
  margin: 0 auto;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 0.3rem;
  background-color: rgb(44,57,65);
}

header > .title{
  width: 7.359375rem;
  margin: 0.375rem auto 0.1rem auto;
  padding-right:0.6rem;              
}

header span{
	color: white;
	margin-left:0.05rem;
	
	font-size: 0.4rem;
	font-family: "微软雅黑";

}
.title img{
  width: 0.7rem;
  display: inline;        
}

.title > #message{
	float:right;
}
/*end*/

.info {
  width: 7.359375rem;
  margin: 0.375rem auto 1.234375rem auto;
}

.info .inputb,
.info .selectb {
  width: 7.359375rem;
  height: 1.21875rem;
  display: block;
  box-shadow: inset 2px 2px 8px #ccc;
  font-size: 0.375rem;
  padding-left: 0.46875rem;
  margin-bottom: 0.371875rem;
  border: 2px solid #c1c1c1;
  background: #fff;
}
.info .inputb span,
.info .selectb span{
	display: inline;
	margin-right: 0.2rem;
	line-height: 1.2rem;
}
.inputb input,
.selectb select{
  width: 6.8rem;
  height: 1.21875rem;
  position: absolute;
  float: right;
  font-size: 0.375rem;
  padding-left: 0.46875rem;
}

.detail{
  width: 10rem;
	margin: 0.375rem auto 1.234375rem auto;
	
	border-width: 1px;
	border-top-color: rgb(161,161,161);
	border-top-style: solid;
	background-color: rgb(238,238,238);
}

.detail input {
  width: 7.359375rem;
  height: 1.21875rem;
  margin:0.1rem auto;
  
  display: block;
  box-shadow: inset 2px 2px 8px #ccc;
  font-size: 0.375rem;
  padding-left: 0.46875rem;
  margin-bottom: 0.671875rem;
  border: 2px solid #c1c1c1;
  background: #fff;
}

.detail input[name="register"] {
  width: 3.671875rem;
  height: 0.828125rem;
  
  border-radius: 20px;
  padding-left: 0;
  background: -webkit-linear-gradient(left, #e1bc86, #eac58c, #cca167);
  /* Safari 5.1 - 6.0 */
  font-size: 0.46875rem;
  font-weight: 700;
  color: #81511c;
  margin: 0 auto;
}

.detail > span{
  margin:0.05rem 0 0.05rem 1.5rem;	
	font-size: 0.35rem;
	font-weight: bold;
	font-family: "微软雅黑";
}

.detail > textarea{
  padding-left: 0.46875rem;
  margin: 0 auto;
	
	width: 7.359375rem;
  display: block;
  box-shadow: inset 2px 2px 8px #ccc;
  font-size: 0.375rem;
  margin-bottom: 0.671875rem;
  border: 2px solid #c1c1c1;
  background: #fff;
 }
  
.detail > .div1{
  width: 3.5rem;
  height: 3.5rem;	
  margin: 0 auto;
  text-align: center;
  padding-top: 0.0008rem;
  border-radius: 0.3rem;
  background:rgb(220,220,220);
  overflow: hidden;
  
  background-image: url(../img/add.png);
  background-repeat:no-repeat;
  background-position: 0.85rem 0.5rem;
  background-size:1.8rem;
 }


.div1 > input{
	display: block;
  width: 3.5rem;
  height: 1.7rem;	
  text-align: center;
  padding-top: 0.0008rem;
  border-radius: 0.3rem;
  background:rgb(220,220,220);
  overflow: hidden;
  
  opacity: 0;
 }

.file{
	
}
.div2{
	
  font-size:0.45rem;
  font-weight:800;
  margin-bottom: 0.15rem;
  color: white;
}

.inputstyle{
    width: 3.3rem;
    height: 3.3rem;
    cursor: pointer;
    font-size: 30px;
    outline: medium none;
    position: absolute;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity:0; 
    left:0px;
    top: 0px;
}



.detail input[name="register"] {
  width: 3.671875rem;
  height: 0.828125rem;
  border-radius: 20px;
  padding-left: 0;
  background: -webkit-linear-gradient(left, #e1bc86, #eac58c, #cca167);
  /* Safari 5.1 - 6.0 */
  font-size: 0.46875rem;
  font-weight: 700;
  color: #81511c;
  margin: 0 auto;
}